CompileFlags:
    Add: [-isystem/opt/devkitpro/devkitARM/arm-none-eabi/include, -isystem/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/14.2.0/arm-none-eabi, -isystem/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/14.2.0, -Wno-unknown-warning-option]
    Remove: [-m*, -f*]
